form{
    width: 600px;
    height: 100%;
    border: 1px solid black;
    background-color: bisque;
    
}
.head{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.name_quan{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.price_disc{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pname{
    margin-left: 10px;
}
.pname input{
    margin-left: 5px;
}
.price_disc{
    margin: 15px 0;
}
.uprice{
    margin-left: 10px; 
}
.uprice input{
    margin-left: 29px; 
}
.discout{
    margin-left: 6px;
}
.but{
    border: 1px solid black;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.product_table th{
    padding-right: 30px;
}
.product_table{
    margin-bottom: 30px;
}
